.property-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 5px;
    border-radius: 3.5px;
    font-family: 'Roboto Slab';
    box-shadow: 0 5px 6px gray; 
}

.property-card-title {
    padding-left: 5px;
    padding-top: 5px;
}

.property-card-type-city {
    padding-left: 5px;
    padding-top: 5px;
}

.property-card-bathrooms {
    padding-left: 5px;
    padding-top: 5px;   
}

.property-card-bedrooms {
    padding-left: 5px;
    padding-top: 5px;
}

.property-card-price {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.property-card-email {
    display: flex;
    background-color:rgb(119, 72, 114);
    color: white; 
    width: 99%;
    justify-content: center;
    border-radius: 3.5px;
    margin: 5px;
    box-shadow: 0 3px 6px gray; 
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

.email-icon {
    padding-top: 8px;
}

.house-icon {
    background-color: rgb(205, 204, 204);
    color: rgb(119, 72, 114);;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75px;
    border-radius: 3.5px;
}

.house-icon-img {
    margin-top: 20px;
}