@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

